<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Affichage du fichier <%= filename %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1><%= filename %></h1>
        <p><%= description %></p>
        <pre id="codeBlock"><code><%= code %></code></pre>
        <button id="copyButton">Copier le code</button>
    </div>

    <script src="/js/copy.js"></script>
</body>
</html>