<!DOCTYPE html>
<html>
<head>
    <title>Enter Code</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
</head>
<body>
    <div class="home">
        <div class="header">
            <h1>Welcome to hostCode !</h1>
            <button id="toggleTheme">Light mode</button>
        </div>
        <h2>Please enter a code :</h2>
        <form onsubmit="handleSubmit(event)">
            <input type="text" name="route" placeholder="Enter code here" required>
            <button id="submitcode" type="submit">Submit</button>
        </form>
    </div>
    <script src="js/searchCode.js"></script>
    <script src="js/theme.js"></script>
</body>
</html>
